
@media (max-width: 1024px) {
  .app-wrapper {
    .container {
      div {
        
        height: auto;
        
        .contact-wrapper {
          height: 0%;
          
          .content-page-wrapper {
            display: flex;
            width: 100%;
            grid-template-columns: none;
            flex-direction: column;
            height: calc(100vh - 116px);
        
            .left-column {
              height: 70%;
            }
            
            .right-column {
              padding: 30px;
              justify-content: center;
              
              .contact-bullet-points {
                height: initial;
                
                .bullet-point-group {
                  align-items: center;
                  height: initial;
                  
                  .text {
                    font-size: 1em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 411px) {
  .app-wrapper {
    .container {
      div {
  
        height: auto;

        .contact-wrapper {
          height: 0%;
      
          .content-page-wrapper {
            display: flex;
            width: 100%;
            grid-template-columns: none;
            flex-direction: column;
            height: calc(100vh - 81px);
        
            .left-column {
              height: 100%;
            }
        
            .right-column {
              padding: 30px;
              height: 100%;
              justify-content: center;
        
              .contact-bullet-points {
                height: initial;
      
                .bullet-point-group {
                  align-items: center;
                  height: initial;
      
                  .text {
                    font-size: 1em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}